In [10]:
import sqlite3
import pandas as pd

conn = sqlite3.connect('customer_data.db')
print("Opened database successfully");

Opened database successfully

In [ ]:
# Create Table
q1='''CREATE TABLE Customer_Details(
    Customer_Name VARCHAR(255) NOT NULL,
    Customer_Id VARCHAR(255) NOT NULL,
    Open_Date DATE NOT NULL,
    Last_Consulted_Date DATE,
    Vaccination_Type CHAR(5),
    Dr_consulted CHAR(255),
    State CHAR(5),
    Country CHAR(5),
    Postal_Code INT,
    DOB DATE,
    Is_Active CHAR,
    PRIMARY KEY(Customer_Name)
    )'''

conn.execute(q1)

In [ ]:
#insert data
conn.execute('''INSERT INTO Customer_Details VALUES ('Alex','123457','20101012','20121013','MVD','Paul','SA','USA',42516,'06031987','A')''')
conn.execute('''INSERT INTO Customer_Details VALUES ('John','123458','20101012','20121013','MVD','Paul','TN','IND',42587,'06031987','A')''')
conn.execute('''INSERT INTO Customer_Details VALUES ('Mathew','123459','20101012','20121013','MVD','Paul','WAS','PHIL',45289,'06031987','A')''')
conn.execute('''INSERT INTO Customer_Details VALUES ('Matt','12345','20101012','20121013','MVD','Paul','BOS','NYC',45127,'06031987','A')''')
conn.execute('''INSERT INTO Customer_Details VALUES ('Jacob','1256','20101012','20121013','MVD','Paul','VIC','AU',49875,'06031987','A')''')

In [ ]:
# Dataload in CSV
s1 = '''select * from Customer_Details'''
df = pd.read_sql_query(s1,conn)
dataframe = pd.DataFrame(df)
dataframe.to_csv("/content/costumer_details.csv",sep='|',index=False)

In [ ]:
df2 = pd.read_csv("/content/costumer_details.csv")
print(df2)

  Customer_Name|Customer_Id|Open_Date|Last_Consulted_Date|Vaccination_Type|Dr_consulted|State|Country|Postal_Code|DOB|Is_Active
0  Alex|123457|20101012|20121013|MVD|Paul|SA|USA|...
1  John|123458|20101012|20121013|MVD|Paul|TN|IND|...
2  Mathew|123459|20101012|20121013|MVD|Paul|WAS|P...
3  Matt|12345|20101012|20121013|MVD|Paul|BOS|NYC|...
4  Jacob|1256|20101012|20121013|MVD|Paul|VIC|AU|4...

In [ ]:
# Distinct countries
q3='''SELECT DISTINCT Country FROM Customer_Details'''
Countries = conn.execute(q3)

In [ ]:
con = []
for i in Countries:
  con.append(i[0])

In [ ]:
# Create Table Per Country
for i in range(len(con)):
  conn.execute('CREATE TABLE "{}" AS SELECT * FROM Customer_Details WHERE Country = "{}"'.format(con[i],con[i]))

In [ ]:
# Example For India Country
c = conn.execute('''select * from IND''')
for row in c:
  print(row)

('John', '123458', 20101012, 20121013, 'MVD', 'Paul', 'TN', 'IND', 42587, 6031987, 'A')